version: '3.0'
services:
  rasa:
    image: emnabj/rasa-server:rasa-serverv1
    ports:
      - 5005:5005
    volumes:
      - ./:/app
    command:
      - run
  action-server:
    image: emnabj/rasa-sdk:rasa-sdkv1 
    expose:
      - "5055"
  
